dist: bionic
sudo: required
language:
  - cpp
  - python
python:
  - "3.7"
addons:
  apt:
    packages:
      - gcc-7
      - g++-7
      - cmake
script:
  - pip install conan
  - mkdir build
  - cd build
  - conan install ..
  - cmake ..
  - make
  - ./bin/tests_edge
  - ./bin/tests_incremental
  - ./bin/tests_point
  - ./bin/tests_triangle