os: linux
dist: bionic
sudo: required
language:
  - cpp
  - python3
addons:
  apt:
    packages:
      - gcc-7
      - g++-7
      - cmake
install:
  - pip3 install conans
script:
  - mkdir build
  - cd build
  - conan install ..
  - cmake ..
  - make -j 2
  - ./bin/conan_tests